@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.side-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgray;
  background: #282829;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: SM;
  position: relative;
}

.side-container::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.03;
  background-image: url("../assets/images/bank.jpg");
  background-size: cover;
  background-position: center;
}

.side-container div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 60px 0px;
}

.side-container h1 {
  font-weight: 400;
  color: #fff;
}

#signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1040px 1fr;
      grid-template-columns: 1fr 1040px 1fr;
  -ms-grid-rows: 1fr 740px 1fr;
      grid-template-rows: 1fr 740px 1fr;
      grid-template-areas: '. . .' '. LG .' '. . .';
}

#signup .login-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#signup .login-container div:first-child {
  padding: 100px;
}

#signup .login-container div:first-child h1 {
  font-weight: 500;
}

#signup .login-container::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.023;
  z-index: -1;
  background-image: url("../assets/images/checkerboard.jpg");
  background-size: cover;
  background-position: center;
}

#signup .login-container .form-group {
  margin-top: 20px;
}

#signup .login-container .form-group label {
  color: gray;
}

#signup .login-container .form-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #196e9c;
  margin-top: 5px;
}

#signup .login-container .form-group div input {
  outline: 0;
  border: 0;
  margin-left: 10px;
  width: 100%;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 14px;
  border-left: 1px solid #196e9c;
}

#signup .login-container .rollback {
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  margin-top: 20px;
}

#signup .login-container .rollback p {
  margin: 0px 15px 0px 15px;
}

#departments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100vw;
      grid-template-rows: 100vw;
      grid-template-areas: 'LG DP';
  max-height: 100vh;
}

#departments .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: LG;
  max-height: 100vh;
  -webkit-box-shadow: 0px 2px 10px 5px gray;
          box-shadow: 0px 2px 10px 5px gray;
}

#departments .login-container:before {
  display: none;
}

#departments .display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: DP;
  background: darkgrey;
  max-height: 100vh;
  color: #fff;
}

#departments .display-container .departments-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#departments .display-container .departments-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  width: 49vw;
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

#departments .display-container .departments-list ul::-webkit-scrollbar {
  width: 8px;
}

#departments .display-container .departments-list ul::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

#departments .display-container .departments-list ul::-webkit-scrollbar-track {
  background-color: darkgray;
}

#departments .display-container .departments-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px 5px gray;
          box-shadow: 0px 10px 10px 5px gray;
  z-index: 1;
  position: relative;
  color: #000;
  margin-top: 50px;
}

#departments .display-container .departments-list ul li:before {
  content: '';
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #196e9c;
}

#departments .display-container .departments-list ul li:first-child {
  margin-top: 100%;
}

#departments .display-container .departments-list ul li:last-child {
  margin-bottom: 50px;
}

#departments .display-container .departments-list ul li div {
  margin: 0px 30px 0px 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0px 10px 0px 10px;
}

#departments .display-container .departments-list ul li div svg {
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

#departments .display-container .departments-list ul li div svg:first-child {
  background: red;
}

#departments .display-container .departments-list ul li div svg:last-child {
  background: #196e9c;
  margin-left: 20px;
}

#departments .display-container .departments-list ul li div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#departments .display-container .departments-list ul li div span {
  font-weight: bold;
  width: 120%;
  color: #196e9c;
}

.menu-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8ce67), to(#568d3a));
  background-image: linear-gradient(#a8ce67, #568d3a);
}

.menu-index .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 100px 0px 50px 0px;
}

.menu-index .prices .card {
  width: 23%;
  height: 50vh;
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f5;
  padding: 50px;
  position: relative;
}

.menu-index .prices .card header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 10px 1px gray;
          box-shadow: 0px 10px 10px 1px gray;
  background: #fff;
  position: absolute;
  top: 0;
}

.menu-index .prices .card footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.menu-index .prices .card h3 {
  font-size: 64px;
  font-weight: 500;
  color: lightgreen;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.menu-index .prices .card h3 span {
  font-size: 48px;
  color: #666666;
}

.menu-index .prices .card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-index .prices .card:last-child {
  background: #fff;
}

.menu-index .side-list {
  padding: 50px;
  width: 80%;
  color: #fff;
  background: gray;
  margin-bottom: 20px;
}

.menu-index .side-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  height: 45vh;
}

.menu-index .side-list ul::-webkit-scrollbar {
  width: 8px;
}

.menu-index .side-list ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 4px;
}

.menu-index .side-list ul::-webkit-scrollbar-track {
  background-color: grey;
}

.menu-index .side-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px 5px gray;
          box-shadow: 0px 10px 10px 5px gray;
  z-index: 1;
  position: relative;
  color: #000;
  margin-top: 50px;
}

.menu-index .side-list ul li:first-child {
  margin-top: 10px;
}

.menu-index .side-list ul li:last-child {
  margin-bottom: 50px;
}

.menu-index .side-list ul li:before {
  content: '';
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #196e9c;
}

.menu-index .side-list ul li div {
  margin: 0px 30px 0px 30px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0px 10px 0px 10px;
}

.menu-index .side-list ul li div svg {
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.menu-index .side-list ul li div svg:first-child {
  background: red;
}

.menu-index .side-list ul li div svg:last-child {
  background: #196e9c;
  margin-left: 20px;
}

.menu-index .side-list ul li div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-index .side-list ul li div span {
  font-weight: bold;
  width: 120%;
  color: #196e9c;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background: #fff;
  height: 70px;
  -webkit-box-shadow: 0px 2px 10px 3px gray;
          box-shadow: 0px 2px 10px 3px gray;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
}

nav * {
  margin-top: 8px;
  margin-left: 15px;
  font-weight: 500;
  color: #666666;
}

nav h2 {
  margin-top: 12px;
}

nav .active a {
  color: #000;
  text-decoration: overline;
}

nav svg {
  position: absolute;
  right: 0;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  margin-right: 35px;
  color: #6633cc;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
input,
button {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.index-container {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8ce67), to(#568d3a));
  background-image: linear-gradient(#a8ce67, #568d3a);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 380px 640px 1fr;
      grid-template-columns: 1fr 380px 640px 1fr;
  -ms-grid-rows: 1fr 340px 340px 1fr;
      grid-template-rows: 1fr 340px 340px 1fr;
      grid-template-areas: '. . . .' '. SM LG .' '. SM LG .' '. . . .';
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  background: #fff;
  text-align: left;
  z-index: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: LG;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.023;
  z-index: -1;
  background-image: url("../assets/images/checkerboard.jpg");
  background-size: cover;
  background-position: center;
}

.login-container form {
  padding-left: 90px;
}

.login-container form h1 {
  font-weight: 500;
}

.login-container form p {
  color: gray;
}

.form-group {
  margin-top: 20px;
}

.form-group label {
  color: gray;
}

.form-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #196e9c;
  margin-top: 5px;
}

.form-group div input {
  outline: 0;
  border: 0;
  margin-left: 10px;
  width: 100%;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 14px;
  border-left: 1px solid #196e9c;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.checkbox input {
  margin-right: 10px;
}

button {
  padding: 13px 86px;
  color: #fff;
  background: #000;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.token {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
  color: gray;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 5px;
}

.token b {
  margin-left: 5px;
}

.account {
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.account button {
  padding: 10px 46px;
  background: none;
  border-radius: 4px;
  border: 1px solid lightgray;
  color: #000;
  margin-left: 20px;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  margin-bottom: 20px;
  cursor: pointer;
}

.account button:hover {
  border: 1px solid #000;
}
