.side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lightgray;
  background: #282829;
  grid-area: SM;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.03;
    background-image: url('../assets/images/bank.jpg');
    background-size: cover;
    background-position: center;
  }

  div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 60px 0px;

  }

  h1 {
    font-weight: 400;
    color: #fff;
  }
}
