.second-index {
  display: grid;
  grid-template-columns: 1fr 1040px 1fr;
  grid-template-rows: 1fr 740px 1fr;
  grid-template-areas:
    '. . .'
    '. LG .'
    '. . .';

  .login-container {
    align-items: center;
      z-index: 1;

    div:first-child {
      padding:100px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      left: 0px;
      bottom: 0px;
      opacity: 0.023;
      z-index: -1;
      background-image: url('../assets/images/checkerboard.jpg');
      background-size: cover;
      background-position: center;
    }
    

    .form-group {
      margin-top: 20px;

      label {
        color: gray;
      }

      div {
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #196e9c;
        margin-top: 5px;

        input {
          outline: 0;
          border: 0;
          margin-left: 10px;
          width: 100%;
          padding-left: 5px;
          padding-right: 20px;
          font-size: 14px;
          border-left: 1px solid #196e9c;
        }
      }
    }

    .rollback {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      margin-top: 20px;

      p {
        margin:0px 15px 0px 15px;
      }
    }
  }
}
